body {
    background-color: black;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
    margin: 0;
    padding: 0;

    width: 80vw;
    height: 40vh;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-top: -20vh;
    margin-left: -40vw;
}

a {
    text-decoration: none;
    color: white;
}

input {
    background-color: black;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 24px;
    border-width: 0px;
    width: 14px;
    outline: none;
}

.hidden {
    display: none;
    visibility: hidden;
}
  
/* ----- blinking cursor animation ----- */
.typedCursor{
    opacity: 1;
    -webkit-animation: blink 0.95s infinite;
    -moz-animation: blink 0.95s infinite;
    -ms-animation: blink 0.95s infinite;
    -o-animation: blink 0.95s infinite;
    animation: blink 0.95s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

button {
    position: absolute;
    visibility: hidden;
    background-color: transparent;
    border-radius: 0px;
}

table, td, th {
    margin-left: auto;
    margin-right: auto;
    border-radius: 1px solid;
    border-color: white;
    padding: 10px;
}