<p id="line1" class="hidden">So I know human attention spans are not the greatest so I’ve created a game for you.</p>
<p id="line2" class="hidden">It is quite simple.</p>
<p id="line3" class="hidden">To continue with the story, you must find and squash the bug.</p>
<p id="line4" class="hidden">You’ll know what I’m talking about.</p>
<p id="line5" class="hidden">Humans are so queasy around bugs.</p>
<p id="line6" class="hidden">Let’s begin.</p>
<p></p>
<button id="bug">  
    <img src="static/spider.png" id="bugImg" />
</button>