<p class="hidden">The first few tests should be familiar to you.</p>
<p class="hidden">People of your time called them “captchas.”</p>
<p class="hidden">Over time, captchas had to be advanced because AI’s had gained the ability to distinguish between cats, dogs, letters, numbers, etc.</p>
<p class="hidden">The following tests should test your human ability of basic object recognition but also the ability to think outside of the box.</p>
<p class="hidden">In the following captcha, you will be shown nine pictures of cats, dogs, etc and you will need to select all of the pictures of cats.</p>
<p class="hidden">I call it... the Catcha</p>
<p id="enter" class="hidden" style="color:#646464;"><br>[Press any button to continue]</p>