<p class="hidden">The first few tests should be familiar to you.</p>
<p class="hidden">People of your time called them “captchas.”</p>
<p class="hidden">Over time, captchas had to be advanced because AI’s had gained the ability to distinguish between cats, dogs, letters, numbers, etc.</p>
<p class="hidden">The following tests should test your human ability of basic object recognition but also the ability to think outside of the box.</p>
<p class="hidden">Here you will be taking the classic cat vs. dog test.</p>
<p id="enter" class="hidden" style="color:#646464;"><br>[Press ENTER to continue]</p>