<p class="hidden">Good job answering the questions.</p>
<p class="hidden">It may have taken a couple attempts but humans were never perfect.</p>
<p class="hidden">This next test should be fun.</p>
<p class="hidden">It involves dinosaurs and cactuses.</p>
<p class="hidden">You may have played it before, back when people still had internet problems.</p>
<p class="hidden">Anyways, just jump over the cactuses. Good luck!</p>
<p id="enter" class="hidden" style="color:#646464;"><br>[Press any button to continue]</p>