<!DOCTYPE html>
<html>
    <head>
        <title>ARRRHI</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/main.css">
        <link rel="shortcut icon" type="image/png" href="static/earth.png">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    </head>

    <body>
        <div id="dynHTML">
            {% block content %}
            {% endblock %}
        </div>
        <script type="text/javascript" src="static/script.js"></script>
    </body>
    
</html>
