<head>
    <link rel="stylesheet" href="static/cat.css">
</head>

<div id="dynHTML">
    <p id="prompt">
        Catcha
    </p>
    <p id="fail" style="color: red; visibility: hidden;">
        
    </p>
    <ul>
        <li><input type="checkbox" id="cb1" />
            <label for="cb1"><img src="./static/cat/dog1.png" /></label>
        </li>
        <li><input type="checkbox" id="cb2" />
            <label for="cb2"><img src="./static/cat/dog2.png" /></label>
        </li>
        <li><input type="checkbox" id="cb3" />
            <label for="cb3"><img src="./static/cat/hyena.png" /></label>
        </li>
    </ul>
    <ul>
        <li><input type="checkbox" id="cb4" />
            <label for="cb4"><img src="./static/cat/demogorgon.png" /></label>
        </li>
        <li><input type="checkbox" id="cb5" />
            <label for="cb5"><img src="./static/cat/dog3.png" /></label>
        </li>
        <li><input type="checkbox" id="cb6" />
            <label for="cb6"><img src="./static/cat/dog4.png" /></label>
        </li>
    </ul>
    <ul>
        <li><input type="checkbox" id="cb7" />
            <label for="cb7"><img src="./static/cat/dog5.png" /></label>
        </li>
        <li><input type="checkbox" id="cb8" />
            <label for="cb8"><img src="./static/cat/cat1.png" /></label>
        </li>
        <li><input type="checkbox" id="cb9" />
            <label for="cb9"><img src="./static/cat/dog6.png" /></label>
        </li>
    </ul>
    <br>
    <button id="submit">
        Submit
    </button>
</div>