{% extends "base.html" %}
{% block content %}

<p>Enter your name:</p>

<div onKeyPress="return checkName(event)">

    <form id="form01" action="" onsubmit="return false;">
        <p id="cursor-line" class="visible">&gt;&gt; 
            <input 
            type="text"
            id="input" 
            name="name" 
            oninput="this.style.width = ((this.value.length + 1) * 14) + 'px';" 
            maxlength="24"
            autocomplete="off"
            > 
        </p>
    </form>
</div>

<input type="button" class="skipButton" value="Skip Dialogue >>" onclick="skipDialogue()">


{% endblock %}
