<head>
    <link rel="stylesheet" href="static/quiz.css">
</head>

<div class="quiz">
    <section class="dark">
      
        <h2>Who is always right?</h2>
        
        <label>
            <input type="radio" name="dark" class="q" id="a1">
            <span class="design"></span>
            <span class="text">Moonflower</span>
        </label>
        
        <label>
            <input type="radio" name="dark" class="q" id="a2">
            <span class="design"></span>
            <span class="text">FlowerPower</span>
        </label>
        
        <label>
            <input type="radio" name="dark" class="q" id="a3">
            <span class="design"></span>
            <span class="text">Moon Baboon</span>
        </label>

        <label>
            <input type="radio" name="dark" class="q" id="a4" onclick="return q2();">
            <span class="design"></span>
            <span class="text">Jake</span>
        </label>

        <div id="text" class="redText"></div>
      
    </section>
      
</div>